<html>
<head>
  <title>Pestañas con jQuery UI</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

<div id="tabs">
  <ul>
    <li><a href="#tab-1">Introducción</a></li>
    <li><a href="#tab-2">Preparación de datos</a></li>
    <li><a href="#tab-3">Análisis exploratorio</a></li>
  </ul>
  <div id="tab-1">
    <h2>Introducción</h2>
    <p>Este es el contenido de la primera pestaña.</p>
  </div>
  <div id="tab-2">
    <h2>Preparación de datos</h2>
    <p>Este es el contenido de la segunda pestaña.</p>
  </div>
  <div id="tab-3">
    <h2>Análisis exploratorio</h2>
    <p>Este es el contenido de la tercera pestaña.</p>
  </div>
</div>

<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
</script>

</body>
</html>
